<?xml version="1.0"?>
<!-- 
/**
* @category   Magazento
* @package    Magazento_Productoptions
* @author     Kate Mironova
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <modules>
        <Magazento_Productoptions>
            <version>0.1.12</version>
        </Magazento_Productoptions>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Magazento_Productoptions>
                    <files>
                        <default>Magazento_Productoptions.csv</default>
                    </files>
                </Magazento_Productoptions>
            </modules>
        </translate>
        <routers>
            <productoptions>
                <use>standard</use>
                <args>
                    <module>Magazento_Productoptions</module>
                    <frontName>productoptions</frontName>
                </args>
            </productoptions>
        </routers>
        <events>
            <catalog_controller_product_init_after> 
                <observers>
                    <custom_options>
                        <type>model</type>
                        <class>Magazento_Productoptions_Model_Observer</class>
                        <method>Add_ProductOptions</method>
                    </custom_options>
                </observers>
            </catalog_controller_product_init_after> 
            <checkout_cart_product_add_after>
                <observers>
                    <custom_options2>
                        <type>model</type>
                        <class>Magazento_Productoptions_Model_Observer</class>
                        <method>Add_ProductOptionsToCard</method>
                    </custom_options2>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_update_item_complete>
                <observers>
                    <custom_options3>
                        <type>model</type>
                        <class>Magazento_Productoptions_Model_Observer</class>
                        <method>Update_ProductOptionsInCard</method>
                    </custom_options3>
                </observers>
            </checkout_cart_update_item_complete>
            <sales_convert_quote_item_to_order_item> 
            <observers>
                    <custom_options4>
                        <type>model</type>
                        <class>Magazento_Productoptions_Model_Observer</class>
                        <method>OrderSaveBefore</method>
                    </custom_options4>
                </observers>
             </sales_convert_quote_item_to_order_item> 
            <checkout_cart_save_before>
                <observers>
                    <custom_options2>
                        <type>model</type>
                        <class>Magazento_Productoptions_Model_Observer</class>
                        <method>SaveAfter</method>
                    </custom_options2>
                </observers>
            </checkout_cart_save_before>
            </events>
    </frontend>
    <admin>
        <routers>
            <productoptions>
                <use>admin</use>
                <args>
                    <module>Magazento_Productoptions</module>
                    <frontName>productoptions</frontName>
                </args>
            </productoptions>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <productoptions> 
                        <title>Manage Product Options</title>      
                        <children>
                            <template translate="title" module="productoptions">
                                <title>Manage Options Template</title>
                                <action>productoptions/adminhtml_productoptions</action>
                            </template>
                        </children>
                        <sort_order>10</sort_order>
                    </productoptions> 
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children> 
                                <productoptions translate="title" module="productoptions">
                                    <title>Manage Product Options</title>
                                    <sort_order>10</sort_order>
                                </productoptions>
                            </children>
                        </catalog>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <productoptions translate="title" module="productoptions">
                                            <title>productoptions</title>
                                        </productoptions>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <productoptions>
                    <file>magazento_productoptions.xml</file>
                </productoptions>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <productoptions>
                <class>Magazento_Productoptions_Model</class>
                <resourceModel>productoptions_mysql4</resourceModel>
            </productoptions>
            <productoptions_mysql4>
                <class>Magazento_Productoptions_Model_Mysql4</class>
                <entities>
                    <productoptions>
                        <table>magazento_productoptions</table>
                    </productoptions>
                    <productoptions_stores>
                        <table>magazento_productoptions_stores</table>
                    </productoptions_stores>
                    <prodinset>
                        <table>magazento_productoptionprodinset</table>
                    </prodinset>
                    <product_option>
                        <table>magazento_product_option</table>
                    </product_option>
                    <product_option_price>
                        <table>magazento_product_option_price</table>
                    </product_option_price>
                    <product_option_title>
                        <table>magazento_product_option_title</table>
                    </product_option_title>
                    <product_option_type_price>
                        <table>magazento_product_option_type_price</table>
                    </product_option_type_price>
                    <product_option_type_title>
                        <table>magazento_product_option_type_title</table>
                    </product_option_type_title>
                    <product_option_type_value>
                        <table>magazento_product_option_type_value</table>
                    </product_option_type_value>
                </entities>
            </productoptions_mysql4>
        </models>
        <resources>
            <productoptions_setup>
                <setup>
                    <module>Magazento_Productoptions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productoptions_setup>
            <productoptions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productoptions_write>
            <productoptions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productoptions_read>
        </resources>
        <blocks>
            <productoptions>
                <class>Magazento_Productoptions_Block</class>
            </productoptions>
        </blocks>
        <helpers>
            <productoptions>
                <class>Magazento_Productoptions_Helper</class>
            </productoptions>
        </helpers>
    </global>
</config>